.vertex circle {
    stroke: #bdbdbd;
    fill: white;
    stroke-width: 2;
}

.vertex.visited circle {
    fill: #dbcfc6;
}

.vertex.from circle {
    stroke: green;
    stroke-width: 2;
}

.vertex.to circle {
    stroke: blue;
    stroke-width: 2;
}

.vertex.path circle {
    stroke: #2ca25f;
    fill: #2ca25f;
}

.vertex.from.path circle {
    fill: green;
    stroke: #2ca25f;
    stroke-width: 4;
}

.vertex.to.path circle {
    stroke: #2ca25f;
    stroke-width: 4;
}

.edge line {
    stroke: #bdbdbd;
    stroke-width: 3;
}

.edge.path line {
    stroke: #2ca25f;
    stroke-width: 7;
}

text.weight {
    font-size: 20px;
    font-weight: bold;
}

text.distance {
    font-size: 20px;
    font-weight: bold;
}

.sidenav {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(253, 252, 252);
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: 1px 0 1px -1px rgb(207, 199, 199);
    margin-left: 10px;
}

.sidenav input,
button {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    margin: 2px 10px 10px 5px;
}


.main {
    margin-left: 260px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}